In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options 
from bs4 import BeautifulSoup

In [3]:
options = Options() 
chrome_path = '/Users/carsonlloyd/Downloads/chromedriver'

In [4]:
options.add_argument('--window-size=500,300')

In [5]:
driver = webdriver.Chrome(chrome_path, 
                              options=options)

driver.set_window_size(1400,1000)

In [6]:
driver.get('https://finance.yahoo.com/quote/ATRX/history?period1=755222400&period2=1578787200&interval=1d&filter=history&frequency=1d')

In [60]:
import pandas as pd
page_source = driver.page_source
soup = BeautifulSoup(page_source)
tables = soup.findAll('table')
table = tables[0].prettify()
df = pd.read_html(table)[0]

In [62]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 10, 2020",0.0500,0.0800,0.0500,0.0500,0.0500,88600
1,"Jan 09, 2020",0.0500,0.0500,0.0500,0.0500,0.0500,2800
2,"Jan 08, 2020",0.0600,0.0600,0.0500,0.0500,0.0500,7600
3,"Jan 07, 2020",0.0500,0.0500,0.0500,0.0500,0.0500,200
4,"Jan 06, 2020",0.0600,0.0600,0.0600,0.0600,0.0600,24900
...,...,...,...,...,...,...,...
2896,"Jul 15, 2008",440.0000,444.0000,364.0000,404.0000,404.0000,900
2897,"Jul 14, 2008",444.0000,452.0000,444.0000,448.0000,448.0000,600
2898,"Jul 11, 2008",452.0000,460.0000,444.0000,452.0000,452.0000,500
2899,"Jul 10, 2008",464.0000,472.0000,444.0000,452.0000,452.0000,300
2900,*Close price adjusted for splits. **Adjusted ...,*Close price adjusted for splits. **Adjusted ...,*Close price adjusted for splits. **Adjusted ...,*Close price adjusted for splits. **Adjusted ...,*Close price adjusted for splits. **Adjusted ...,*Close price adjusted for splits. **Adjusted ...,*Close price adjusted for splits. **Adjusted ...

In [64]:
driver.quit()